$deg: -10deg

.component\:button
  @include flex ($justify: center)
  background: none
  border: 1px solid $YELLOW
  transform: skewX($deg)
  padding: 16px
  &.»light
    border-color: $WHITE
  &.»filled
    background: $YELLOW
    &:hover
      background: $BLACK
  &:hover
    background: $BLACK
    border-color: $BLACK

.component\:button\:\:text
  color: $YELLOW
  font-weight: 700
  transform: skewX(-$deg)
  text-transform: uppercase
  .component\:button.»light &,
  .component\:button.»filled &
    color: $BLACK
  .component\:button:hover &,
  .component\:button.»filled:hover &
    color: $WHITE
