.block\:info
  padding: 95px 0

.block\:info\:\:container
  @include container
  align-items: center
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 100px
  @include mq ($until: mobile)
    grid-template-columns: 1fr
    grid-gap: 25px

.block\:info\:\:heading
  @include h2

.block\:info\:\:content
  font-size: 20px
  line-height: 1.8
  p
    &:not(:last-child)
      margin-bottom: 15px
