.block\:intro
  background: $BLACK
  position: relative

.block\:intro\:\:overlay
  z-index: 1
  @include mq ($from: mobile)
    @include flex
    bottom: 0
    left: 0
    position: absolute
    right: 0
    top: 0
  @include mq ($until: mobile)
    padding: 100px 0 80px 0
    position: relative

.block\:intro\:\:boxed
  @include container

.block\:intro\:\:box
  max-width: 600px

.block\:intro\:\:heading
  @include h1
  color: $YELLOW
  margin-bottom: 35px
  text-transform: uppercase

.block\:intro\:\:content
  color: $WHITE
  font-size: 22px
  font-weight: 500
  margin-bottom: 35px
  @include mq ($until: mobile)
    font-size: 18px

.block\:intro\:\:actions
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 25px
  @include mq ($until: mobile)
    grid-template-columns: 1fr
    grid-gap: 10px

.block\:intro\:\:image
  @include mq ($until: mobile)
    bottom: 0
    left: 0
    position: absolute
    right: 0
    top: 0
  img
    @include image-full
    @include mq ($until: mobile)
      object-fit: cover
      height: 100%
      opacity: .5
      width: 100%
