@mixin content
  font-size: 20px
  line-height: 1.8
  p
    &:not(:last-child)
      margin-bottom: 10px


@mixin h1
  font-size: 65px
  font-weight: 600
  line-height: 1.2
  @include mq ($until: desktop)
    font-size: 50px
  @include mq ($until: tablet)
    font-size: 40px

@mixin h2
  font-size: 60px
  font-style: italic
  font-weight: 700
  letter-spacing: -3px
  line-height: 1.1
  @include mq ($until: tablet)
    font-size: 35px

@mixin h3
  font-size: 25px
  font-weight: 600
  line-height: 1.2
  @include mq ($until: tablet)
    font-size: 20px

@mixin h4
  font-size: 20px
  font-weight: 600
  line-height: 1.2
  @include mq ($until: tablet)
    font-size: 18px
